* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1.11rem;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	color: #e4e5ea;
	line-height: 120%;
}

html {
	font-size: 1vw;
}

body {
	background-color: #1e1e1e;
	padding-top: 3.19rem;
	padding-bottom: 1.38rem;
	position: relative;
}

.bg_images * {
	z-index: -1;
	position: absolute;
}

.purple-light {
	background: rgba(131, 58, 180, 1);
	width: 17.98rem;
	height: 17.98rem;
	border-radius: 50%;
	opacity: 50%;
	filter: blur(13.61rem);
	left: 41.8rem;
	top: -10.54rem;
}

.red-light {
	background: rgba(150, 26, 26, 1);
	width: 21.59rem;
	height: 21.59rem;
	border-radius: 50%;
	opacity: 50%;
	filter: blur(13.61rem);
	left: -7.08rem;
	top: 17.43rem;
}

.purple-ball {
	width: 4.16rem;
	height: 4.16rem;
	top: 0.13rem;
	left: 60.27rem;
	filter: blur(0.34rem);
	box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
}

.red-ball {
	width: 5.76rem;
	height: 5.76rem;
	top: 5.76rem;
	left: 36.04rem;
	filter: blur(0.34rem);
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
}

.dark-red-ball {
	width: 1.94rem;
	height: 1.94rem;
	top: 37.98rem;
	left: 59.09rem;
	filter: blur(0.34rem);
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
}

.mobile-bg {
	display: none;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 10.41rem;
}

.header {
	display: flex;
	padding-top: 1.04rem;
	font-weight: 500;
}

.header__info {
	margin-top: -0.27rem;
}

.header__logo {
	width: 9.72rem;
	height: 1.66rem;
	margin-bottom: 0.69rem;
}

.header__info p {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 0.69rem;
	width: 11.45rem;
}

nav {
	padding-left: 1.875rem;
	padding-right: 9.51rem;
	display: flex;
	gap: 2.08rem;
}

.phone-container {
	white-space: nowrap;
}

.contacts-container {
	display: flex;
	gap: 2.08rem;
	padding-left: 3.26rem;
}

.contacts-container img {
	width: 1.38rem;
	height: 1.38rem;
}

.contacts-container.is--footer {
	gap: 0.69rem;
	justify-content: end;
	margin: 1.38rem 0;
}
.main {
	margin-top: 6.25rem;
	margin-bottom: 4.86rem;
	display: flex;
	justify-content: space-between;
}

section {
	width: 25.13rem;
}

.section.is--left {
	text-align: right;
}

.main__title {
	font-size: 3.33rem;
}

.linear-gradient {
	background: -webkit-linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
}

.subtitle {
	font-size: 1.25rem;
	margin-top: 2.08rem;
}

.weight--bold {
	font-weight: 700;
}

.gifts-container {
	margin-top: 2.77rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.08rem;
}

.gifts-container h4 {
	text-transform: uppercase;
	margin-bottom: 0.41rem;
	font-weight: 500;
	font-size: 1.25rem;
	letter-spacing: 0.05em;
}

.main__button {
	margin-top: 4.16rem;
	font-weight: 500;
	background: rgba(64, 119, 243, 1);
	border: none;
	width: 18.19rem;
	padding: 1.45rem 0;
}

.footer * {
	white-space: nowrap;
}

.footer__menu {
	padding-top: 3.81rem;
	display: flex;
	justify-content: space-between;
	gap: 6.8rem;
}

.footer__title {
	font-weight: 700;
	font-size: 0.97rem;
	margin-bottom: 1.38rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: rgba(101, 101, 102, 1);
}

.footer__menu ul {
	list-style: none;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-auto-flow: column;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	row-gap: 0.69rem;
	column-gap: 3.47rem;
}

.footer__section.contacts {
	text-align: right;
	margin-left: 4.51rem;
}

.footer__credits {
	text-align: right;
	margin-top: 2.29rem;
}

.footer__credits * {
	font-size: 0.83rem;
	font-family: "Montserrat", sans-serif;
}

.footer__credits a {
	text-decoration: underline;
}

.phone-container a {
	font-weight: 500;
}

.is--mobile {
	display: none;
}

@media (max-width: 767px) {
	.is--mobile {
		display: block;
	}

	.mobile-bg {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	* {
		font-size: 5.62rem;
	}

	body {
		padding-top: 0;
		background: rgba(14, 16, 20, 1);
		padding-bottom: 18.75rem;
	}

	.container {
		margin: 0 5rem;
	}

	.header {
		padding: 0;
	}

	nav {
		gap: 5rem;
		padding: 4.25rem 0;
		width: 100%;
		justify-content: center;
		position: fixed;
		background: rgba(14, 16, 20, 1);
		margin: 0 -5rem;
		z-index: 10;
		text-transform: uppercase;
	}

	nav a {
		font-size: 3.75rem;
	}

	main {
		position: relative;
	}

	.main {
		flex-direction: column;
		padding-top: 29.68rem;
		padding-bottom: 18.75rem;
		gap: 14.06rem;
	}

	.main__title {
		font-size: 11.25rem;
	}

	section {
		width: auto;
	}

	.section.is--left {
		text-align: left;
	}

	.subtitle {
		font-size: 5.625rem;
		margin-top: 4.68rem;
	}

	.gifts-container {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		margin-top: 6.25rem;
		gap: 3.125rem 4.68rem;
	}

	.gift-container {
		display: flex;
		align-items: center;
		gap: 1.56rem;
	}

	.gift-container img {
		width: 3.125rem;
	}

	.gift-container p {
		font-size: 4.06rem;
		text-transform: uppercase;
	}

	.footer__menu {
		flex-direction: column;
		padding-top: 10.93rem;
		gap: 9.375rem;
	}

	.footer__title {
		font-size: 3.75rem;
		margin-bottom: 6.25rem;
	}
	.footer__menu a,
	.footer__menu p {
		font-size: 4.375rem;
	}

	.footer__section ul {
		row-gap: 3.125rem;
		column-gap: 15rem;
	}

	.footer__section:first-child ul {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
	}

	.footer__section:nth-child(2) ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.footer__section.contacts {
		text-align: left;
		margin-left: 0;
	}

	.phone-container a {
		font-size: 5rem;
	}

	.footer * {
		white-space: normal;
	}

	.contacts-container {
		padding-left: 0;
	}

	.contacts-container.is--footer {
		margin: 2.5rem 0 3.125rem 0;
		justify-content: start;
	}

	.contacts-container img {
		width: 7.5rem;
		height: 7.5rem;
	}

	.footer__credits {
		text-align: left;
		margin-top: 15.625rem;
	}

	.footer__credits * {
		font-size: 3.75rem;
	}

	.bg_images,
	.header__info,
	header .phone-container,
	header .contacts-container,
	.is--desktop,
	.main__button {
		display: none;
	}
}
